@{
    ViewBag.Title = "Home Page";
}

<h1>ASP.NET MVC Photo Album</h1>
<p>Welcome to our Asp.net MVC Photo Viewer. Please choose to visit @Html.ActionLink("our albums", "Index", "Albums")  or browse all <a href='@Url.Action("Index","Photos")'>photos</a></p>